if SHIELD_PW_SEMIFLEX_LEFT

config ZMK_KEYBOARD_NAME
    default "PW Semiflex"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_PW_SEMIFLEX_LEFT || SHIELD_PW_SEMIFLEX_RIGHT

config ZMK_SPLIT
    default y

endif