#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                                &kp A        &kp B                                                                      &kp N2       &kp N3
&kp C        &kp D        &kp E        &kp F        &kp G        &kp H                        &kp N4       &kp N5       &kp N6       &kp N7       &kp N8       &kp N9
&kp I        &kp J        &kp K        &kp L        &kp M        &kp N                        &kp A        &kp B        &kp C        &kp D        &kp E        &kp F
&kp O        &kp P        &kp Q        &kp R        &kp S        &kp T                        &kp G        &kp H        &kp I        &kp J        &kp K        &kp L
                          &kp U        &kp V                                                                            &kp M        &kp N
                                &kp W        &kp X        &kp Y        &kp O        &kp P        &kp Q
                                &kp Z        &kp N0       &kp N1       &kp R        &kp S        &kp T
            >;
        };
    };
};