#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/mouse.h>
#include <behaviors/mouse_keys.dtsi>

#define QWERTY 0
#define SYMBOL 1
#define ACTION 2
#define KEYBOARD 3
#define SYMBOL_OLD 4
#define ACTION_OLD 5

&caps_word {
    continue-list = <UNDERSCORE MINUS>;
};

/ {
    behaviors {
        td_lshft: tap_dance_shift {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LSHFT>, <&caps_word>;
        };
    };
    macros {
        left_sym: left_sym {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LALT>
                , <&macro_tap &kp KP_PLUS &kp KP_N2 &kp KP_N1 &kp KP_N9 &kp KP_N0>
                , <&macro_release &kp LALT>
                ;
        };
        up_sym: up_sym {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LALT>
                , <&macro_tap &kp KP_PLUS &kp KP_N2 &kp KP_N1 &kp KP_N9 &kp KP_N1>
                , <&macro_release &kp LALT>
                ;
        };
        right_sym: right_sym {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LALT>
                , <&macro_tap &kp KP_PLUS &kp KP_N2 &kp KP_N1 &kp KP_N9 &kp KP_N2>
                , <&macro_release &kp LALT>
                ;
        };
        down_sym: down_sym {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LALT>
                , <&macro_tap &kp KP_PLUS &kp KP_N2 &kp KP_N1 &kp KP_N9 &kp KP_N3>
                , <&macro_release &kp LALT>
                ;
        };
        mission: mission {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp UP>
                , <&macro_release &kp LCTRL>
                ;
        };
        app_wins: app_wins {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp DOWN>
                , <&macro_release &kp LCTRL>
                ;
        };
        screenshot: screenshot {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI>
                , <&macro_press &kp LSHIFT>
                , <&macro_tap &kp N4>
                , <&macro_release &kp LSHIFT>
                , <&macro_release &kp LGUI>
                ;
        };
        screenvid: screenvid {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI>
                , <&macro_press &kp LSHIFT>
                , <&macro_tap &kp N5>
                , <&macro_release &kp LSHIFT>
                , <&macro_release &kp LGUI>
                ;
        };
        clipboard: clipboard {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI>
                , <&macro_press &kp LSHIFT>
                , <&macro_tap &kp V>
                , <&macro_release &kp LSHIFT>
                , <&macro_release &kp LGUI>
                ;
        };
        emoji: emoji {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI>
                , <&macro_press &kp LCTRL>
                , <&macro_tap &kp SPACE>
                , <&macro_release &kp LCTRL>
                , <&macro_release &kp LGUI>
                ;
        };
        cmdclk: cmdclk {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI>
                , <&macro_tap &mkp LCLK>
                , <&macro_release &kp LGUI>
                ;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        qwerty_layer {
            display-name = "QWERTY";
            bindings = <
                           &kp BSPC     &kp DEL                                                                          &kp BSPC     &kp DEL
&kp TAB       &kp Q        &kp W        &kp E        &kp R        &kp T                        &kp Y        &kp U        &kp I        &kp O        &kp P        &kp SQT
&td_lshft     &kp A        &kp S        &kp D        &kp F        &kp G                        &kp H        &kp J        &kp K        &kp L        &kp SEMI     &kp RET
&kp LCTRL     &kp Z        &kp X        &kp C        &kp V        &kp B                        &kp N        &kp M        &kp COMMA    &kp DOT      &kp FSLH     &kp RSHFT
                           &mkp RCLK    &mkp LCLK                                                                        &mkp LCLK     &mkp RCLK
                                                    &mo ACTION    &kp BSPC                    &kp RALT
                                                     &mo SYMBOL    &kp SPACE                 &kp LGUI
                                                      &kp LALT       &kp LGUI               &kp LCTRL
            >;
        };

        symbol_layer {
            display-name = "SYMBOL";
            bindings = <
                           &none        &none                                                                            &kp PG_UP    &kp LG(LEFT) 
&kp LG(GRAVE) &kp ESC      &kp N7       &kp N8       &kp N9       &kp LG(RIGHT)                   &kp LG(LEFT)    &kp LA(LEFT) &kp UP       &none        &kp LA(RIGHT) &kp GRAVE
&trans        &kp N0       &kp N4       &kp N5       &kp N6       &kp LPAR                     &kp RPAR     &kp LEFT     &kp DOWN     &none        &kp RIGHT     &kp LG(RET)
&trans        &none        &kp N1       &kp N2       &kp N3       &kp LBKT                     &kp RBKT     &kp MINUS    &kp EQUAL    &kp UNDER    &kp BSLH      &trans
                           &none        &none                                                                            &kp PG_DN  &kp LG(RIGHT)
                           
                                                     &mo KEYBOARD &none                        &trans
                                                      &none        &trans                     &trans
                                                       &trans       &trans                   &trans
            >;
        };

        action_layer {
            display-name = "ACTION";
            bindings = <
                          &none        &none                                                                            &kp PG_UP    &kp LG(UP) 
&kp LG(TAB)  &kp ESC      &kp LG(W)    &emoji       &kp LG(R)    &kp LG(T)                    &mission     &kp LG(L)    &kp UP       &kp LG(O)     &kp LG(P)        &app_wins
&trans       &kp LG(A)    &kp LG(S)    &kp LG(D)    &kp LG(F)    &none                        &kp LA(LEFT) &kp LEFT     &kp LG(K)    &kp LG(L)     &kp RIGHT    &kp LA(RIGHT)
&trans       &kp LG(Z)    &kp LG(X)    &kp LG(C)    &kp LG(V)    &kp LG(B)                    &kp LG(N)    &screenshot  &kp DOWN     &screenvid    &kp LG(FSLH) &trans
                          &none        &cmdclk                                                                          &kp PG_DN    &kp LG(DOWN)
                                                    &none         &kp DEL                        &trans 
                                                     &mo KEYBOARD  &trans                       &trans 
                                                      &trans        &trans                    &trans
            >;
        };

        keyboard_layer {
            display-name = "KEYBOARD";
            bindings = <
                           &bootloader   &sys_reset                                                                      &sys_reset    &bootloader
&bt BT_CLR   &none         &none         &none         &none         &none                    &none        &none         &none         &none         &none         &bt BT_CLR
&none        &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4             &none        &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&none        &bt BT_DISC 0 &bt BT_DISC 1 &bt BT_DISC 2 &bt BT_DISC 3 &bt BT_DISC 4            &none        &bt BT_DISC 0 &bt BT_DISC 1 &bt BT_DISC 2 &bt BT_DISC 3 &bt BT_DISC 4
                          &none        &none                                                                            &none        &none 
                                                    &none        &none                          &none 
                                                      &none        &none                      &none 
                                                       &none        &none                    &none 
            >;
        };
    };
};
